<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="1" android:versionName="1.0" 
          package="com.refractored.blankapptemplatexaml">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="BlankAppTemplateXaml"
               tools:replace="android:icon"
               android:icon="@mipmap/icon" 
               android:theme="@style/Theme.MyTheme">
	</application>
</manifest>
